.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formWrapper {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  height: "100vh";

  background: #282a36;
  padding: 20px;
  border-radius: 10ox;
  width: 400px;
  max-width: 90%;
}

.footer {
  position: fixed;
  bottom: 0;
}

.footer a {
  color: #368654;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0px;
}

.homePageLogo {
  width: 80%;
  height: 160px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: #368654;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover {
  background: #4aee88;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #368654;
  text-decoration: none;
  border-bottom: 1px solid #368654;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
.footer a:hover {
  color: #4aee88;
  border-color: #4aee88;
}
